extends ../layouts/default.pug

block main
  if (permissions.includes("role-view"))
    h1.box-title Nhóm quyền

    //- Section 5
    .section-5
      .inner-wrap
        .inner-change-status
          .inner-item
            select
              option(value="") -- Hành động --
              if (permissions.includes("role-delete"))
                option(value="") Xóa
          .inner-item
            button Áp dụng
        .inner-search
          <i class="fa-solid fa-magnifying-glass"></i>
          input(type="text" placeholder="Tìm kiếm")
        if (permissions.includes("role-create"))
          .inner-button-create
            a(
              href=`/${pathAdmin}/setting/role/create`
            ) + Tạo mới
        .inner-button-create
          a(href=`/${pathAdmin}/setting/list`) Quay lại trang Cài đặt chung
        if (permissions.includes("role-trash"))
          .inner-button-trash
            a(href=`/${pathAdmin}/role/trash`) Thùng rác
    //- End Section 5

    //- Section 6
    .section-6
      .table-2
        table
          thead
            tr
              th(class="inner-center")
                input(type="checkbox" class="inner-check")
              th Tên nhóm quyền
              th Mô tả ngắn
              th Hành động
          tbody
            each item in roleList
              tr
                td(class="inner-center")
                  input(type="checkbox" class="inner-check")
                td #{item.name}
                td #{item.description}
                td
                  .inner-buttons
                    if (permissions.includes("role-edit"))
                      a(
                        href=`/${pathAdmin}/setting/role/edit/${item.id}`
                        class="inner-edit"
                      ) <i class="fa-regular fa-pen-to-square"></i>
                    if (permissions.includes("role-trash"))
                      button(
                        class="inner-delete"
                        button-delete
                        data-api=`/${pathAdmin}/setting/role/delete/${item.id}`
                      ) <i class="fa-regular fa-trash-can"></i>

    //- End Section 6