extends ../layouts/default.pug

block main
  if (permissions.includes("account-admin-view"))
    h1.box-title Tài khoản quản trị

    //- Section 4
    .section-4
      .inner-wrap
        .inner-item.inner-label
          <i class="fa-solid fa-filter"></i> Bộ lọc
        .inner-item
          select(filter-status)
            option(value="") Trạng thái
            option(value="initial") Khởi tạo
            option(value="active") Hoạt động
            option(value="inactive") Tạm dừng
        .inner-item.inner-date
          input(type="date" filter-start-date)
          span -
          input(type="date" filter-end-date)
        .inner-item
          select(filter-role)
            option(value="") Nhóm quyền
            each item in roleList
              option(value=item._id) #{item.name}
            //- option(value="") Quản trị viên
            //- option(value="") Quản lý tour
            //- option(value="") Quản lý đơn hàng
        .inner-item.inner-reset(filter-reset)
          <i class="fa-solid fa-rotate-left"></i> Xóa bộ lọc
    //- End Section 4

    //- Section 5
    .section-5
      .inner-wrap
        .inner-change-status
          .inner-item
            select
              option(value="") -- Hành động --
              if (permissions.includes("account-admin-edit"))
                option(value="") Hoạt động
                option(value="") Dừng hoạt động
              if (permissions.includes("account-admin-trash"))
                option(value="") Xóa
          .inner-item
            button Áp dụng
        .inner-search
          <i class="fa-solid fa-magnifying-glass"></i>
          input(type="text" placeholder="Tìm kiếm")
        if (permissions.includes("account-admin-create"))
          .inner-button-create
            a(href=`/${pathAdmin}/setting/account-admin/create`) + Tạo mới
        .inner-button-create
          a(href=`/${pathAdmin}/setting/list`) Quay lại trang Cài đặt chung
        if (permissions.includes("account-admin-trash"))
          .inner-button-trash
            a(href=`/${pathAdmin}/setting/account-admin/trash`) Thùng rác
    //- End Section 5

    //- Section 6
    .section-6
      .table-2
        table
          thead
            tr
              th(class="inner-center")
                input(type="checkbox" class="inner-check")
              th Họ tên
              th(class="inner-center") Ảnh đại diện
              th Email
              th Số điện thoại
              th Nhóm quyền
              th Chức vụ
              th Trạng thái
              th Hành động
          tbody
            each item in accountAdminList
              tr
                td(class="inner-center")
                  input(type="checkbox" class="inner-check")
                td #{item.fullName}
                td(class="inner-center")
                  img(src=item.avatar class="inner-avatar")
                td #{item.email}
                td #{item.phone}
                td #{item.roleName}
                td #{item.positionCompany}
                td
                  if (item.status == "active")
                    .badge.badge-green Hoạt động
                  else if(item.status == "inactive")
                    .badge.badge-red Tạm dừng
                  else if(item.status == "initial")
                    .badge.badge-orange Khởi tạo
                td
                  .inner-buttons
                    if (permissions.includes("account-admin-edit"))
                      a(
                        href=`/${pathAdmin}/setting/account-admin/edit/${item.id}` 
                        class="inner-edit"
                      ) <i class="fa-regular fa-pen-to-square"></i>
                    if (permissions.includes("account-admin-delete"))
                      button(
                        class="inner-delete"
                        button-delete 
                        data-api=`/${pathAdmin}/setting/account-admin/delete/${item.id}`
                      ) <i class="fa-regular fa-trash-can"></i>
    //- End Section 6

    //- Section 7
    .section-7
      span(class="inner-label") Hiển thị 1 - 9 của 78
      select(class="inner-pagination")
        option Trang 1
        option Trang 2
        option Trang 3
    //- End Section 7